body {
  font-family: sans-serif;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px;
}

li {
  display: inline;
  max-width: 95vw;
}

button {
	max-width: 50vw;
	aspect-ratio: 1/0.1;
	font-size: large;
}

#demo {
  position: absolute;
  font-size: x-large;
  left: 50%;
  bottom: 70%;
  z-index: 999;
  
  transform: translate(-50%, -50%);
  text-align: center;
  
  color: white;
  background-color: black;
}

.check-coords {
	max-width: 95vw !important;
	aspect-ratio: 1/0.1;
	font-size: x-large;
}

.book-container {
  perspective: 2000px;
}

.book {
  position: relative;
  width: 95vw;
  aspect-ratio: 1 / 1.410;
  max-width: 2000px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
  backface-visibility: hidden;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stamp {
  position: absolute;
  display: block;
  bottom: 3.5%;  /* distance from bottom edge */
  right: 34%;  /* distance from right edge */
  width: 36% !important;   /* size of the stamp */
  height: auto !important;  /* keep aspect ratio */
  opacity: 0.8;  /* optional: slightly transparent */
  pointer-events: none; /* so clicks go through to the page */
  visibility: hidden;
  backface-visibility: hidden;
}

.stamp.visible {
	visibility: visible;
	animation: stampDown 1s forwards;
}

.stampindex {
  position: absolute;
  height: 75%;
  bottom: 7.5%;  /* distance from bottom edge */
  right: 33%;  /* distance from right edge */
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;    /* center horizontally */
  gap: 0.05%;              /* space between images */
}

.tinystamp {
	height: 6.25% !important;
	width: auto !important;
	visibility: hidden;
}

.tinystamp.visible {
	visibility: visible;
}

.pointcounter {
	position: absolute;
	font-size: 6vh;
	left: 8%;
	bottom: 0.5%;
}

.nav-item {
  display: flex;
  list-style: none;
  width: 95vw !important;
  max-width: 100%;
  min-height: 5%;
  gap: 0.1rem;
  box-sizing: border-box;
}

.nav-item button {
  flex: 1 1 auto;
  min-width: 0;    /* IMPORTANT: allows text to shrink */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* optional: "…" if too small */
  padding: 0.01rem 0.1rem;
  height: clamp(2rem, 4vw, 4rem);
  font-size: clamp(0.6rem, 3.44vw, 3rem);
}

/* Keyframes for stamping effect */
@keyframes stampDown {
  0% {
    transform: scale(0) rotate(-20deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.4) rotate(5deg); /* overshoot for realism */
    opacity: 1;
  }
  60% {
    transform: scale(1.4) rotate(5deg); /* overshoot for realism */
    opacity: 1;
  }
  90% {
    transform: scale(0.6) rotate(-2deg); /* slight bounce back */
  }
  100% {
    transform: scale(1) rotate(0deg); /* final position */
  }
}

.page.flipped {
  transform: rotateY(-180deg);
}
